// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference

$primary: #ae0010 !default;
$brand: #ae0010 !default;
$teal: #ae0010 !default;

